nav {
  width: 100vw;
  box-shadow: 2px 3px 8px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
}
.container a {
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  align-items: center;
  gap: 2px;
}
.links {
  display: flex;
  gap: 20px;
}
.links li {
  list-style: none;
}
.search-box {
  width: 25%;
  border: 2px solid rgb(115, 104, 104);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.search-box input {
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
}
.button-container {
  display: flex;
  gap: 20px;
}
.login {
  border: none;
  background-color: white;
  font-size: 15px;
  padding: 10px;
  color: rgb(67, 192, 151);
  border-radius: 9px;
}
.login:hover {
  cursor: pointer;
  background-color: rgb(67, 192, 151);
  color: white;
}
.register {
  border: none;
  background-color: rgb(67, 192, 151);
  font-size: 15px;
  padding: 10px;
  border-radius: 9px;
  color: white;
}
.register:hover {
  cursor: pointer;
  background-color: rgb(24, 104, 78);
}
